<head>
    <meta charset='utf-8' />
    <meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
    <title>Welcome to Smart Home</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <script type="text/javascript" src="/js/event.js"></script>
</head>

<body>
    <h1>Smart Home</h1>
    <p>This is the future!</p>
    <img id="light-switch" src="/imgs/light-bubble.png">
    <div id="start-overlay"><img id="loading" src="/imgs/loading.gif">
    </div>
</body>
